body {
    background-color: blanchedalmond;
   

}

.bg-morado {
    background-color: blueviolet;
}

.titulo {
    display: grid;
    justify-content: center;
}

.main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1    , 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
   
    background-color: rgb(186, 186, 186);
}
.sidebar {
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
  
}

.mainview {
    grid-area: 1 / 2 / 3 / 6;
    
    display: flex;
    flex-wrap: wrap;
}
.item {
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    margin: 10pt;
    text-align: center;
    
}
.item img {
    max-width: 20rem;
    height: 20rem;
    object-fit: cover;
}
.btn-morado {
    color: white;
    font-weight: bold;
    background-color: blueviolet;
    padding: 8pt;
    width: 100%;
}